<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Steam Holiday Card</title>

    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

<!-- ON NOT LOGGED
<div class="jumbotron" style="background: url(./img/background_hd.png); color: #eee;">
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Здесь вы можете быстро обменяться карточками текущей распродажи. Чтобы получить карточку, вам необходимо внести любую другую из этого сета. Таким образом, обмен получается 1 к 1. Главное правило: за 1 день нельзя обменивать больше 5 одинаковых карточек. Начните обмениваться прямо сейчас!</p>
        <a href="#"><img class="center-block" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png"></a>
    </div>
</div>
-->

<style>
    .special-img {
        position: relative;
        top: -5px;
        float: left;
        left: -5px;
    }
    .profile-image  {
        padding-top: 0;
        padding-bottom: 0;
    }
</style>

<!-- ON LOGGED-->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Steam Holiday Card</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="top-nav">
            <!--
            <ul class="nav navbar-nav">
                <li ><a href="#"><i class="fa fa-home"></i> Home</a></li>
            </ul>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Доступно карточек <span class="badge">12</span></a></li>
                <li><a href="#">Отправлено <span class="badge">2</span></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                        <img src="http://placehold.it/30x30" class="img-circle special-img">dew01ke <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container theme-showcase" role="main">

    <h1 style="text-align: center">Monster Summer Sale 2015</h1>

    <div class="table-responsive">
        <table class="table" style="text-align: center">
            <tr>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p><button type="button" class="btn btn-success btn-xs">доступно 20</button></p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p class="label label-default">пока нет</p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p class="label label-default">пока нет</p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p class="label label-default">пока нет</p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p><button type="button" class="btn btn-success btn-xs">доступно 20</button></p>
                </td>
            </tr>
            <tr>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p class="label label-default">пока нет</p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p><button type="button" class="btn btn-success btn-xs">доступно 20</button></p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p class="label label-default">пока нет</p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p><button type="button" class="btn btn-success btn-xs">доступно 20</button></p>
                </td>
                <td><img style="margin-bottom: 5px;" src="http://vignette2.wikia.nocookie.net/steamtradingcards/images/c/cc/Monster_Summer_Sale_Card_01.png/revision/latest?cb=20150612012041" alt="..." class="img-responsive">
                    <p><button type="button" class="btn btn-success btn-xs">доступно 20</button></p>
                </td>
            </tr>
        </table>
    </div>
	
	<button type="button" class="btn btn-lg btn-success center-block">Предложить обмен</button>

    <div class="row">
        <div class="col-md-4">
            <h2>Как обменяться?</h2>
            <p>Обмениваться очень просто. Для того чтобы получить нужную карточку надо нажать на кнопку "Предложить обмен". После чего перетащить к себе карточку, которая нужна, и в замен отдать свою. Обязательно прочитайте правила &rarr;</p>
        </div>
        <div class="col-md-4">
            <h2>Правила обмена</h2>
            <p>Жестких ограничений нет, меняйтесь как вам угодно. Главное правило: 1 карту забираете, 1 отдаете взамен.</p>
        </div>
        <div class="col-md-4">
            <h2>Пожертвования</h2>
            <p>Если у вас есть ненужные смайлики, карточки или что-нибудь еще, то вы всегда можете передать их вместе с карточками. Список самых щедрых пожертвователей можете <a href="#">увидеть тут</a>.</p>
        </div>
    </div>
</div>

<footer class="footer" style="margin: 20px 0 0 0; background-color: #f5f5f5; height: 50px; line-height: 50px; background: url(../public/img/background_hd.png); color: #eee;">
    <div class="container">
        <p style="margin: 0;">© 2015 by <a href="http://steamcommunity.com/id/dew01ke/" style="color: #ffffff;" target="_blank">dew01ke</a>. Powered by Steam. </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
